{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {#{{ form_start(form, {'method': 'post', 'action': path('cabinetabinet_registration_secretary'), 'attr': {'class': 'fos_user_registration_register'}}) }}#}
    {#{{ form_widget(form) }}#}
    {#<div>#}
    {#<input type="submit" value="Submit" />#}
    {#</div>#}
    {#{{ form_end(form) }}#}

    <!--Start Content-->
    <div class="content">



        <div class="main-appointment-form">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="main-title text-center">
                            <h2><span>Register</span> Secretary</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="icon-center">
                            <div class="appoint-icon">
                                <i class="icon-clipboard"></i>
                            </div></div>

                        <div class="appointment-form">

                            <div class="form">

                                <section class="bgcolor-a">

                                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                                    <span class="input input--kohana">
					{{ form_widget(form.email, {'attr': {'class': 'input__field input__field--kohana'}}) }}
					<label class="input__label input__label--kohana" for="input-29">
                        <i class="icon-user6 icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">Email</span>
					</label>
				</span>

                                    <span class="input input--kohana">
					{{ form_widget(form.username, {'attr': {'class': 'input__field input__field--kohana'}}) }}
					<label class="input__label input__label--kohana" for="input-29">
                        <i class="icon-user6 icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">Uername</span>
					</label>
				</span>

                                    <span class="input input--kohana">
					{{ form_widget(form.cnam, {'attr': {'class': 'input__field input__field--kohana'}}) }}
					<label class="input__label input__label--kohana" for="input-29">
                        <i class="icon-user6 icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">CNAM Code</span>
					</label>
				</span>


                                    <span class="input input--kohana">
					{{ form_widget(form.plainPassword.first, {'attr': {'class': 'input__field input__field--kohana'}}) }}
					<label class="input__label input__label--kohana" for="input-29">
                        <i class="icon-user6 icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">Password</span>
					</label>
				</span>

                                    <span class="input input--kohana">
					{{ form_widget(form.plainPassword.second, {'attr': {'class': 'input__field input__field--kohana'}}) }}
					<label class="input__label input__label--kohana" for="input-29">
                        <i class="icon-user6 icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">Confirm Password</span>
					</label>
				</span>
                                    <div>
                                        <input type="submit" value="{{ 'registration.submit'|trans }}" />
                                    </div>
                                    {{ form_end(form) }}

                                </section>

                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>


    </div>
    <!--End Content-->

{% endblock fos_user_content %}
